# systemd service spec for pulseaudio running in system mode -- not recommended though!
# on arch, put it under /etc/systemd/system/pulseaudio.service
# start with: systemctl start pulseaudio.service
# enable on boot: systemctl enable pulseaudio.service 
[Unit]
Description=Shell2http server
After=network.target

[Service]
ExecStart=/usr/bin/shell2http /scan /root/scan.sh

[Install]
WantedBy=multi-user.target
