.ansible:
  stage: ansible-main
  image: willhallonline/ansible:latest
  before_script:
    - pip3 install -r requirements.txt 
    - ansible-galaxy install -r ansible/requirements.yml
    - echo ${ROUTER_PRIVATE_KEY_BASE64}|base64 -d > tmp
    - chmod 600 tmp
    - mkdir ~/.ssh
    - cp ansible/known_hosts ~/.ssh/known_hosts

stages:
  - ansible-main

router:
  extends: .ansible
  script:
    - ansible-playbook -i ansible/inventory.yml -u root --private-key=tmp ansible/router.yml 

zwave:
  extends: .ansible
  script:
    - ansible-playbook -i ansible/inventory.yml -u root --private-key=tmp ansible/zwave.yml
