- name: Ensure proper packages are installed
  apt:
    name:
      - dnsmasq
      - isc-dhcp-server
      - wireguard
      - netfilter-persistent
      - iptables-persistent
    state: latest
    update_cache: yes

- name: Populate route table list
  ansible.builtin.copy:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/iproute2/rt_tables' }}"
    dest: /etc/iproute2/rt_tables
    owner: root
    group: root
    mode: '0640'

- name: Make sure Mullvad is started and enabled
  service:
    name: "wg-quick@{{ mullvad_interface_name }}"
    state: started
    enabled: yes

- name: Template the netplan config file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/netplan/config.yaml' }}"
    dest: /etc/netplan/config.yaml
    owner: root
    group: root
    mode: '0640'
  register: netplan

- name: Run Netplan config
  ansible.builtin.command: netplan apply
  become: yes
  when: netplan.changed

- name: Template the iptables rules file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/iptables/rules.v4' }}"
    dest: /etc/iptables/rules.v4
    owner: root
    group: root
    mode: '0640'
  register: iptables

- name: Copy the ipset rules file
  ansible.builtin.copy:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/iptables/rules.ipset' }}"
    dest: /etc/iptables/rules.ipset
    owner: root
    group: root
    mode: '0640'
  register: ipset

- name: Copy the ipset netfilter plugin
  ansible.builtin.copy:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/iptables/10-ipset' }}"
    dest: /usr/share/netfilter-persistent/plugins.d/10-ipset
    owner: root
    group: root
    mode: '0755'
  register: netfilter

- name: Restore netfilter rules
  ansible.builtin.command: netfilter-persistent reload
  become: yes
  when: iptables.changed or ipset.changed or netfilter.changed

- name: Restart Docker to restore iptables chains after netfilter reload
  ansible.builtin.service:
    name: docker
    state: restarted
  when: iptables.changed or ipset.changed or netfilter.changed

- name: Setup cron script directory
  ansible.builtin.file:
    path: /root/cron
    state: directory
    mode: '0700'

- name: Setup cron script log directory
  ansible.builtin.file:
    path: /root/cron/logs
    state: directory
    mode: '0700'
  
- name: Template out cron script to populate wan ipset
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/iptables/ip_update.sh' }}"
    dest: /root/cron/ip_update.sh
    owner: root
    group: root
    mode: '0700'

- name: Sets up cronjob to populate wan ipset
  ansible.builtin.cron:
    name: "Update wan ipset"
    minute: "*/5"
    job: "{{ \"bash -c 'set -o pipefail; /bin/bash /root/cron/ip_update.sh 2>&1 | logger -t ip-update-cron'\" }}"

- name: Template out cron script for DDNS
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/dns/ddns.py' }}"
    dest: /root/cron/ddns.py
    owner: root
    group: root
    mode: '0700'

- name: Deploy DDNS credentials to environment file
  ansible.builtin.copy:
    content: |
      CLOUDFLARE_API_KEY={{ (vault_cloudflare_api_key | default(lookup('env', 'CLOUDFLARE_API_KEY'))) | trim }}
      CLOUDFLARE_ZONE_ID={{ (vault_cloudflare_zone_id | default(lookup('env', 'CLOUDFLARE_ZONE_ID'))) | trim }}
      CLOUDFLARE_EMAIL=konoahko@gmail.com
    dest: /root/cron/.ddns.env
    owner: root
    group: root
    mode: '0600'
  no_log: true

- name: Sets up cronjob for DDNS
  ansible.builtin.cron:
    name: "Update public DNS records"
    minute: "*/5"
    job: >-
      {{ ("bash -c 'set -o pipefail; set -a; source /root/cron/.ddns.env; set +a;"
      + " /usr/bin/python3 /root/cron/ddns.py -d nkontur.com"
      + " -r \"\" \"*\" 2>&1 | logger -t ddns-cron'")
      | regex_replace('[\r\n]', '') }}

- name: Template out cron script for SSL renewal
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/ssl/renew.sh' }}"
    dest: /root/cron/renew.sh
    owner: root
    group: root
    mode: '0700'

- name: Sets up cronjob for SSL Certs
  ansible.builtin.cron:
    name: "Renew ssl certs"
    minute: "0"
    hour: "4"
    weekday: "1"
    job: >-
      {{ ("bash -c 'set -o pipefail; /bin/bash /root/cron/renew.sh "
      + ((vault_namesilo_api_key | default(lookup('env', 'NAMESILO_API_KEY'))) | trim)
      + " 2>&1 | logger -t ssl-renew-cron'")
      | regex_replace('[\r\n]', '') }}
  no_log: true

- name: Template out cron script for ISO conversion
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/docker/plex/convert_isos_makemkv.sh' }}"
    dest: /root/cron/convert_isos.sh
    owner: root
    group: root
    mode: '0700'

- name: Sets up cronjob for ISO conversion
  ansible.builtin.cron:
    name: "Convert ISO files to MKV"
    minute: "0"
    hour: "2"
    job: "{{ \"bash -c 'set -o pipefail; /bin/bash /root/cron/convert_isos.sh 2>&1 | logger -t iso-convert-cron'\" }}"


- name: Sync systemd-networkd drop-in files
  ansible.posix.synchronize:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/networkd/' }}"
    dest: /etc/systemd/network
    rsync_opts:
    - "--chmod=755"
  register: networkd

- name: Restart systemd-networkd when the drop-in files change
  service:
    name: systemd-networkd
    state: restarted
    enabled: yes
  when: networkd.changed

- name: Populate dnsmasq conf file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/dns/dnsmasq.conf' }}"
    dest: /etc/dnsmasq.conf
    owner: root
    group: root
    mode: '0640'
  register: dnsmasq

- name: Restart dnsmasq when the drop-in files change
  service:
    name: dnsmasq
    state: restarted
    enabled: yes
  when: dnsmasq.changed

- name: Populate avahi conf file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/avahi/avahi-daemon.conf' }}"
    dest: /etc/avahi/avahi-daemon.conf
    owner: root
    group: root
    mode: '0640'
  register: avahi_conf

- name: Populate avahi hosts file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/avahi/hosts' }}"
    dest: /etc/avahi/hosts
    owner: root
    group: root
    mode: '0640'
  register: avahi_hosts

- name: Populate avahi service file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/avahi/services/spotify.service' }}"
    dest: /etc/avahi/services/spotify.service
    owner: root
    group: root
    mode: '0640'
  register: avahi_services

- name: Restart avahi when the drop-in files change
  service:
    name: avahi-daemon
    state: restarted
    enabled: yes
  when: avahi_conf.changed or avahi_services.changed or avahi_hosts.changed

- name: Populate RNDC key file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/dhcp/rndc.key' }}"
    dest: /etc/dhcp/rndc.key
    owner: root
    group: root
    mode: '0640'

- name: Populate DHCP conf file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/dhcp/dhcpd.conf' }}"
    dest: /etc/dhcp/dhcpd.conf
    owner: root
    group: root
    mode: '0640'
  register: dhcp

- name: Restart isc-dhcp-server when the drop-in files change
  service:
    name: isc-dhcp-server
    state: restarted
    enabled: yes
  when: dhcp.changed

