- name: Ensure wireguard installed
  apt:
    name:
      - wireguard
    state: present
    update_cache: yes

- name: Add wireguard config
  ansible.builtin.template:
    src: "{{ wireguard_config_path }}"
    dest: /etc/wireguard/{{ wireguard_interface_name }}.conf
    owner: root
    group: root
    mode: '0600'
  register: wireguard

- name: Make sure wireguard is started and enabled
  service:
    name: wg-quick@{{ wireguard_interface_name }}
    state: started
    enabled: yes

- name: Restart wireguard if config change
  service:
    name: wg-quick@{{ wireguard_interface_name }}
    state: restarted
    enabled: yes
  when: wireguard.changed
