services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    image: koenkk/zigbee2mqtt:2.8.0@sha256:89cf02f379aa743a68494388e3a26fba7b8c9101f8b452038cc07aeff3fc983c
    volumes:
      - {{ docker_persistent_data_path }}/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8081:8080
    networks:
      - zwave
    mem_limit: 256m
    environment:
      - TZ=America/New_York
    healthcheck:
      test: ["CMD", "wget", "--spider", "--quiet", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
volumes:
  zigbee-config:
    name: zigbee-config
