networks:
  zwave:
services:
  nginx: 
    image: nginx:latest@sha256:514a9c2814250e61396ef4d6125ece1a8fbb3b0964a2ab441e9f7acf0b66b8b5
    container_name: nginx
    networks:
      - zwave
    ports:
      - '80:80'
      - '443:443'
    restart: unless-stopped
    volumes:
      - /root/nginx/conf/conf.d:/etc/nginx/conf.d
      - /root/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - /root/nginx/conf/ssl_config:/etc/nginx/ssl_config
      - /root/nginx/log:/data/log
      - /certs:/data/certs/nkontur.com/certificates
  room-assistant:
    image: mkerix/room-assistant:latest@sha256:e09275d619025fa7905e60a432ecb4cb3f1fad46c20bd033734808d565dfc78a
    container_name: room-assistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/dbus:/var/run/dbus
      - /root/room-assistant/config:/room-assistant/config
      - /etc/localtime:/etc/localtime:ro
