<?xml version="1.0"?>
<service-group>
    <name>Global</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50000</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>
</service-group>

<service-group>
    <name>Movie Room</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50001</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>

<service-group>
    <name>Office</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50002</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>

<service-group>
    <name>Kitchen</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50003</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>

<service-group>
    <name>Main Bedroom</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50004</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>
</service-group>

<service-group>
    <name>Main Bathroom</name>
    <service>
        <type>_spotify-connect._tcp</type>
        <host-name>snapserver.local</host-name>
        <port>50005</port>
	<txt>["CPath=/" "VERSION=1.0"]</txt>
    </service>
</service-group>
