### Install docker daemon
- name: Install dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
    state: present
    update_cache: yes

- name: Set minidsp package architecture
  set_fact:
    minidsp_arch: >-
      {%- if ansible_architecture == 'x86_64' -%}amd64
      {%- elif ansible_architecture == 'aarch64' -%}arm64
      {%- elif ansible_architecture in ['armv7l', 'armv6l'] -%}armhf
      {%- else -%}{{ ansible_architecture }}
      {%- endif -%}

- name: Install minidsp-rs package
  ansible.builtin.apt:
    deb: "https://github.com/mrene/minidsp-rs/releases/download/v0.1.7/minidsp_0.1.7_{{ minidsp_arch }}.deb"

- name: Make sure minidsp is started and enabled
  service:
    name: minidsp
    state: started
    enabled: yes

- name: Template out minidsp file
  ansible.builtin.template:
    src: "{{ lookup('env', 'CI_PROJECT_DIR') + '/base/minidsp/config.toml' }}"
    dest: "/etc/minidsp/config.toml"
    owner: root
    group: root
    mode: '0644'
  register: minidsp

- name: Restart minidsp if config change
  service:
    name: minidsp
    state: restarted
  when: minidsp.changed
