concurrent = 4
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "main.nkontur.com"
  url = "https://gitlab.lab.nkontur.com/"
  tls-ca-file = "/persistent_data/application/certs/nkontur.com/live/iot.lab.nkontur.com-0003/chain.pem"
  token = "{{ lookup('env', 'GITLAB_RUNNER_TOKEN') }}"
  executor = "docker"
  [runners.docker]
    image = "ubuntu:20.04"
    network_mode = "host"
    volumes = ["/cache/gitlab-runner:/cache"]

[[runners]]
  name = "images"
  url = "https://gitlab.lab.nkontur.com/"
  tls-ca-file = "/persistent_data/application/certs/nkontur.com/live/iot.lab.nkontur.com-0003/chain.pem"
  token = "{{ lookup('env', 'IMAGES_GITLAB_RUNNER_TOKEN') }}"
  executor = "docker"
  [runners.docker]
    image = "docker:24"
    network_mode = "docker_docker-proxy"
    privileged = false
    dns = ["10.4.0.1"]
    volumes = ["/cache/gitlab-runner:/cache"]
  # Use docker-socket-proxy on dedicated bridge network (non-internal for internet/DNS)
  environment = ["DOCKER_HOST=tcp://docker-socket-proxy:2375"]
