all:
  vars:
    mullvad_interface_name: us-chi-wg-201
    inet_interface_name: enx6c1ff76b2ec9
    nginx_ip: 10.2.32.1
    lab_nginx_ip: 10.3.32.1
    pihole_ip: 10.3.32.2
    deluge_ip: 10.3.32.3
    loki_ip: 10.3.32.4
    influxdb_ip: 10.3.32.5
    docker_persistent_data_path: /persistent_data/application
    docker_compose_version: '3.9'
    movie_switch_mac: 8c:3b:ad:6f:0e:d0
    movie_switch_address: 10.4.128.3
    office_switch_mac: 28:80:88:6e:11:88
    office_switch_address: 10.4.128.4
    ipmi_mac: 00:25:90:ec:88:92
    ipmi_address: 10.4.128.7
    ups_mac: 00:c0:b7:84:80:f4
    ups_address: 10.4.128.8
    privileged_access_point_1_mac: d2:3f:2a:7e:a7:98
    privileged_access_point_1_address: 10.4.128.21
    privileged_access_point_2_mac: 4e:83:ba:97:05:47
    privileged_access_point_2_address: 10.4.128.22
    privileged_access_point_3_mac: 80:a9:97:12:5b:30
    privileged_access_point_3_address: 10.4.128.23
    # registry_address removed - using GitLab built-in registry
    docker_socket_proxy_ip: 10.4.32.2
    denon_mac: 00:06:78:84:0e:d8
    denon_address: 10.6.128.3
    pc_mac: a8:a1:59:24:84:d7
    projector_mac: dc:cd:2f:d6:aa:0e
    projector_address: 10.6.128.4
    shield_mac: 00:04:4b:b6:cf:95
    shield_address: 10.6.128.5
    zwave_mac: dc:a6:32:74:9e:bf
    zwave_address: 10.6.128.6
    amp_mac: 40:d6:3c:28:81:95
    amp_address: 10.6.128.7
    doorbell_mac: 9c:8e:cd:3c:de:33
    doorbell_address: 10.6.128.9
    kitchen_qual_address: 10.6.128.10
    kitchen_qual_mac: 70:88:6b:14:b5:41
    satellite_2_address: 10.6.128.11
    satellite_2_mac: dc:a6:32:74:a1:cf
    back_camera_address: 10.6.128.14
    back_camera_mac: 9c:8e:cd:3a:db:e8
    bedroom_qual_address: 10.6.128.15
    bedroom_qual_mac: 70:88:6b:14:7a:a0
    weather_station_address: 10.6.128.16
    weather_station_mac: 30:83:98:A6:92:7B
    vac_address: 10.6.128.18
    vac_mac: b8:4d:43:98:68:4f
    apple_tv_mac: 8c:26:aa:c7:d0:41
    apple_tv_address: 10.6.128.19
    zigbee_radio_mac: 68:25:dd:2f:51:27
    zigbee_radio_address: 10.6.128.20
    snapserver_address: 10.6.32.2
    mosquitto_address: 10.6.32.3
    iot_nginx_ip: 10.6.32.5
    weather_mqtt_bridge_ip: 10.6.32.6
    mopidy_address: 10.6.32.7
    moltbot_gateway_ip: 10.4.0.50
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    omapi_secret: "{{ lookup('env', 'OMAPI_SECRET') }}"
    tailscale_api_token: "{{ lookup('env', 'TAILSCALE_API_TOKEN') }}"
    tailscale_tailnet: "tail2360f8.ts.net"
    tailscale_split_dns:
      lab.nkontur.com:
        - "10.3.32.2"
      iot.lab.nkontur.com:
        - "10.3.32.2"
    grafana_url: "http://grafana:3000"
    grafana_token: "{{ lookup('env', 'GRAFANA_TOKEN') }}"
    brave_api_key: "{{ lookup('env', 'BRAVE_API_KEY') }}"
    is_satellite: false
  hosts:
    router.lab.nkontur.com:
      wireguard_config_path: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/wireguard/wg0.conf' }}"
      wireguard_interface_name: "wg0"
      local_interface_name: bond0
      dhcp_address: 10.4.0.1
      docker_compose_file_names:
        -  "docker-compose.yml"
      docker_compose_dest_path: "{{ docker_persistent_data_path }}/ansible_state"
      nginx_config:
        - dest: "{{ docker_persistent_data_path }}/lab_nginx"
          network: "internal"
          name: "lab_nginx"
        - dest: "{{ docker_persistent_data_path }}/iot_nginx"
          network: "iot"
          name: "iot_nginx"
        - dest: "{{ docker_persistent_data_path }}/nginx"
          network: "external"
          name: "nginx"
      docker_config: 
        - src: "docker/pihole/custom.list"
          dest: "{{ docker_persistent_data_path }}/pihole/conf/custom.list"
          name: "pihole"
        - src: "docker/pihole/custom.conf"
          dest: "{{ docker_persistent_data_path }}/pihole/dnsmasq/custom.conf"
          name: "pihole"
        - src: "docker/homeassistant/configuration.yaml"
          dest: "{{ docker_persistent_data_path }}/homeassistant/configuration.yaml"
          name: "homeassistant"
        - src: "docker/snapserver/server.json"
          dest: "{{ docker_persistent_data_path }}/snapserver/server.json"
          name: "snapserver"
        - src: "docker/snapserver/snapserver.conf"
          dest: "{{ docker_persistent_data_path }}/snapserver/snapserver.conf"
          name: "snapserver"
        - src: "docker/nextcloud/config.php"
          dest: "{{ docker_persistent_data_path }}/nextcloud/config.php"
          name: "nextcloud"
          owner: "www-data"
          group: "www-data"
        - src: "docker/zigbee2mqtt/configuration.yaml"
          dest: "{{ docker_persistent_data_path }}/zigbee2mqtt/configuration.yaml"
          name: "zigbee2mqtt"
        - src: "docker/moltbot/mcporter/mcporter.json"
          dest: "{{ docker_persistent_data_path }}/moltbot/mcporter/mcporter.json"
          name: "moltbot-gateway"
        - src: "docker/grafana/provisioning/datasources/influxdb.yml"
          dest: "{{ docker_persistent_data_path }}/grafana/provisioning/datasources/influxdb.yml"
          name: "grafana"
        - src: "docker/grafana/provisioning/datasources/loki.yml"
          dest: "{{ docker_persistent_data_path }}/grafana/provisioning/datasources/loki.yml"
          name: "grafana"
        - src: "docker/loki/local-config.yaml"
          dest: "{{ docker_persistent_data_path }}/loki/local-config.yaml"
          name: "loki"
        - src: "docker/gitlab/gitlab.rb"
          dest: "{{ docker_persistent_data_path }}/gitlab/config/gitlab.rb"
          name: "gitlab"
      docker_data_dirs:
        - path: "{{ docker_persistent_data_path }}/loki/data"
          owner: "10001"
          group: "10001"
  children:
    satellites:
      vars:
        docker_compose_file_names: 
          - "docker-compose-satellite.yml"
        docker_compose_dest_path: ""
        docker_compose_project_name: "satellite"
        docker_compose_version: '3.7'
        is_satellite: true
        use_onboard_audio: true
      hosts:
        zwave.lab.nkontur.com:
          gitlab_registry_login: false
          location: "Movie Room"
          docker_config: []
          docker_compose_file_names: 
            - "docker-compose-zwave.yml"
            - "docker-compose-satellite.yml"
          docker_compose_project_name: "zwave"
          nginx_config:
            - dest: "/root/nginx"
              network: "zwave"
              name: "nginx"
              extra_args: "--domain-name zwave.lab.nkontur.com"
          snapclient_config:
            - soundcard: "plughw:CARD=b1,DEV=0"
              name: "movie"
        satellite-2.lab.nkontur.com:
          gitlab_registry_login: false
          docker_config: []
          nginx_config:
            - dest: "/root/nginx"
              network: "zwave"
              name: "nginx"
              extra_args: "--domain-name satellite-2.lab.nkontur.com"
          docker_compose_file_names: 
            - "docker-compose-zigbee.yml"
            - "docker-compose-satellite.yml"

