- hosts: router.lab.nkontur.com
  roles:
  - configure-base
  - configure-router-network
  - role: configure-tailscale
    vars:
      tailscale_auth_key: "{{ lookup('env', 'TAILSCALE_AUTH_KEY') }}"
      tailscale_advertised_routes: "10.2.0.0/16,10.3.0.0/16,10.4.0.0/16,10.6.0.0/16"
  - role: configure-docker
    vars:
      nvidia_container_runtime: true
  - configure-notifications
  - configure-mullvad-failover
  - role: restic
    vars:
      restic_ssh_enabled: false
      restic_repository: "s3:s3.us-east-005.backblazeb2.com/nkontur-homelab"
      restic_aws_access_key_id: "{{ lookup('env', 'BACKBLAZE_ACCESS_KEY_ID') }}"
      restic_aws_secret_access_key: "{{ lookup('env', 'BACKBLAZE_SECRET_ACCESS_KEY') }}"
      restic_default_folders: []
      restic_folders:
        - {path: "/mpool/nextcloud"}
        - {path: "/persistent_data/docker/volumes",
           exclude: "/persistent_data/docker/volumes/docker_nextcloud"
          }
        - {path: "/persistent_data/application"}
        - {path: "/mpool/plex/config"}
        - {path: "/mpool/plex/Photos"}
        - {path: "/mpool/plex/Family"}
        - {path: "/var/log"}
        - {path: "/root"}
      restic_password: "{{ lookup('env', 'RESTIC_PASSWORD') }}"
