- hosts: router.lab.nkontur.com
  roles:
  - configure-base
  - role: configure-wireguard
    vars: 
      wireguard_config_path: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/wireguard/wg0.conf' }}"
      wireguard_interface_name: "wg0"
  - role: configure-wireguard
    vars: 
      wireguard_config_path: "{{ lookup('env', 'CI_PROJECT_DIR') + '/networking/wireguard/wg1.conf' }}"
      wireguard_interface_name: "wg1"
  - configure-router-network
  - role: configure-docker
    vars:
      nvidia_container_runtime: true
  - configure-notifications
  - role: restic
    vars:
      restic_ssh_enabled: false
      restic_repository: "s3:s3.us-east-005.backblazeb2.com/nkontur-homelab"
      restic_aws_access_key_id: "{{ lookup('env', 'BACKBLAZE_ACCESS_KEY_ID') }}"
      restic_aws_secret_access_key: "{{ lookup('env', 'BACKBLAZE_SECRET_ACCESS_KEY') }}"
      restic_default_folders: []
      restic_folders:
        - {path: "/mpool/nextcloud"}
        - {path: "/persistent_data/docker/volumes",
           exclude: "/persistent_data/docker/volumes/docker_nextcloud"
          }
        - {path: "/persistent_data/application"}
        - {path: "/mpool/plex/config"}
        - {path: "/mpool/plex/Photos"}
        - {path: "/mpool/plex/Family"}
        - {path: "/var/log"}
        - {path: "/root"}
      restic_password: "{{ lookup('env', 'RESTIC_PASSWORD') }}" 
