apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: https://loki.lab.nkontur.com
    isDefault: false
    editable: true
    jsonData:
      tlsSkipVerify: true
