homeassistant: true
permit_join: true
frontend: true
mqtt:
  base_topic: zigbee2mqtt
  server: mqtts://mqtt.lab.nkontur.com:1883
  user: mosquitto
  password: {{ lookup('env', 'MQTT_PASS') }}
serial:
  port: tcp://{{ zigbee_radio_address }}:7638
  adapter: zstack
  baudrate: 115200
  rtscts: false
advanced:
  homeassistant_legacy_entity_attributes: false
  legacy_api: false
  legacy_availability_payload: false
device_options:
  legacy: false
