
# Loads default set of integrations. Do not remove.
default_config:

switch:
  - platform: wake_on_lan
    mac: {{ pc_mac }}
    broadcast_address: 10.6.255.255

media_player:
  - platform: pjlink
    host: projector.lab.nkontur.com
  - name: mopidy
    host: {{ mopidy_address }}
    platform: mopidy

influxdb:
  api_version: 2
  ssl: false
  host: influxdb
  port: 8086
  token: "{{ vault_influxdb_ha_token }}"
  organization: homelab
  bucket: homeassistant
  include:
    domains:
      - sensor
      - binary_sensor
      - climate
      - weather
      - lock
      - light
      - switch
      - cover
      - fan
      - person
      - device_tracker
      - input_boolean

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - {{ nginx_ip }}
    - {{ lab_nginx_ip }}
    - {{ iot_nginx_ip }}
    - 127.0.0.1
spotcast:
  sp_dc: "{{ vault_spotify_dc | default(lookup('env', 'SPOTIFY_DC')) }}"
  sp_key: "{{ vault_spotify_key | default(lookup('env', 'SPOTIFY_KEY')) }}"

shell_command:
  sound_doorbell: cat /config/sounds/doorbell-1.wav | nc {{ snapserver_address }} 80
  scan_doc: curl satellite-2.lab.nkontur.com:8080/scan

recorder:
  purge_keep_days: 1000

rest_command:
  bass_boost:
    url: "http://zwave.lab.nkontur.com:5380/devices/0/config"
    method: POST
    headers:
      Content-Type: application/json
    payload: {{ '\'{ "master_status": { "preset": {% if is_state("input_boolean.bass_boost", "off")%}0{%else%}1{%endif%} } }\'' }}
  bass_boost_2:
    url: "http://zwave.lab.nkontur.com:5380/devices/1/config"
    method: POST
    headers:
      Content-Type: application/json
    payload: {{ '\'{ "master_status": { "preset": {% if is_state("input_boolean.bass_boost", "off")%}0{%else%}1{%endif%} } }\'' }}

sensor:
  - platform: rest
    name: awair_kitchen_sensors
    resource: http://AWAIR-ELEM-14B541.lab.nkontur.com/air-data/latest
    json_attributes:
      - timestamp
      - score
      - dew_point
      - temp
      - humid
      - abs_humid
      - co2
      - co2_est
      - voc
      - voc_baseline
      - voc_h2_raw
      - voc_ethanol_raw
      - pm25
      - pm10_est
    value_template: 'OK'
  - platform: rest
    name: awair_bedroom_sensors
    resource: http://AWAIR-ELEM-147AA0.lab.nkontur.com/air-data/latest
    json_attributes:
      - timestamp
      - score
      - dew_point
      - temp
      - humid
      - abs_humid
      - co2
      - co2_est
      - voc
      - voc_baseline
      - voc_h2_raw
      - voc_ethanol_raw
      - pm25
      - pm10_est
    value_template: 'OK'
  - platform: history_stats
    name: "Hours of work today"
    entity_id: binary_sensor.office_sensor_home_security_motion_detection
    state: "on"
    type: time
    start: "{{ '{{' }} now().replace(hour=0, minute=0, second=0) {{ '}}' }}"
    end: "{{ '{{' }} now() {{ '}}' }}"
template:
  - sensor:
      # Kitchen Awair Sensors (modern format)
      - name: "Kitchen Sensor Quality Score"
        unique_id: awair_lr_score
        unit_of_measurement: '%'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "score") }}\'' }}
      - name: "Kitchen Sensor Temperature"
        unique_id: awair_lr_temp
        device_class: temperature
        unit_of_measurement: '°C'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "temp") }}\'' }}
      - name: "Kitchen Sensor Relative Humidity"
        unique_id: awair_lr_humid
        device_class: humidity
        unit_of_measurement: '%'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "humid") }}\'' }}
      - name: "Kitchen Sensor Carbon Dioxide"
        unique_id: awair_lr_co2
        unit_of_measurement: 'ppm'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "co2") }}\'' }}
      - name: "Kitchen Sensor Total VOC"
        unique_id: awair_lr_voc
        unit_of_measurement: 'ppb'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "voc") }}\'' }}
      - name: "Kitchen Sensor Particulate Matter 2.5"
        unique_id: awair_lr_pm25
        unit_of_measurement: 'μg/m³'
        state: {{ '\'{{ state_attr("sensor.awair_kitchen_sensors", "pm25") }}\'' }}
      # Bedroom Awair Sensors (modern format)
      - name: "Bedroom Sensor Quality Score"
        unique_id: bedroom_awair_lr_score
        unit_of_measurement: '%'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "score") }}\'' }}
      - name: "Bedroom Sensor Temperature"
        unique_id: bedroom_awair_lr_temp
        device_class: temperature
        unit_of_measurement: '°C'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "temp") }}\'' }}
      - name: "Bedroom Sensor Relative Humidity"
        unique_id: bedroom_awair_lr_humid
        device_class: humidity
        unit_of_measurement: '%'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "humid") }}\'' }}
      - name: "Bedroom Sensor Carbon Dioxide"
        unique_id: bedroom_awair_lr_co2
        unit_of_measurement: 'ppm'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "co2") }}\'' }}
      - name: "Bedroom Sensor Total VOC"
        unique_id: bedroom_awair_lr_voc
        unit_of_measurement: 'ppb'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "voc") }}\'' }}
      - name: "Bedroom Sensor Particulate Matter 2.5"
        unique_id: bedroom_awair_lr_pm25
        unit_of_measurement: 'μg/m³'
        state: {{ '\'{{ state_attr("sensor.awair_bedroom_sensors", "pm25") }}\'' }}
  - binary_sensor:
      - name: "Front Hallway Door Active"
        state: >
          {{ '{{' }} expand('binary_sensor.main_bathroom_door_sensor_access_control_window_door_is_open')
             | selectattr('last_changed', 'gt', now()-timedelta(minutes=1))
             | list | count + expand('binary_sensor.main_bedroom_door_sensor_access_control_window_door_is_open')
             | selectattr('last_changed', 'gt', now()-timedelta(minutes=1))
             | list | count + expand('binary_sensor.office_door_sensor_access_control_window_door_is_open')
             | selectattr('last_changed', 'gt', now()-timedelta(minutes=1))
             | list | count  + expand('binary_sensor.guest_bedroom_door_sensor_access_control_window_door_is_open')
             | selectattr('last_changed', 'gt', now()-timedelta(minutes=1))
             | list | count  > 0 and ( as_timestamp(now()) - as_timestamp(states('sensor.uptime'))) > 60 {{ '}}' }}
