{% if restic_ssh_enabled %}
RESTIC_REPOSITORY=sftp:{{ restic_ssh_host }}:{{ restic_repository_name }}
{% else %}
RESTIC_REPOSITORY={{ restic_repository }}
{% endif -%}
RESTIC_PASSWORD={{ restic_password | trim }}

{% if restic_aws_access_key_id is defined and restic_aws_secret_access_key is defined %}
AWS_ACCESS_KEY_ID={{ restic_aws_access_key_id | trim }}
AWS_SECRET_ACCESS_KEY={{ restic_aws_secret_access_key | trim }}
{% endif %}
